body {
    font-family: 'Noto Sans JP', Arial, sans-serif;
}

main {
    padding-top: 1.2rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    main {
        padding-top: 5.5rem;
    }
}

button {
    border-radius: 5px;
    border: 1px;
    background-color: skyblue;
    transition: background-color linear 0.2s;
}

button:hover {
    background-color: cyan;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: solid 1px black;
    /*実線 1px 黒*/
    padding: 5px;
}
table th {
    background-color: lightgray;
}

body h2 {
    margin-top: 20px;
}
